.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -25rem;
}

.section-skills{
    background-image:linear-gradient(to right bottom,
    rgba($color-primary-light, .6),
    rgba($color-primary-dark, .6)),
    url("../image/background2.jpg");
    background-size: cover;
    position: relative;
    padding: 20rem 0;
    margin-top: .5rem;
    clip-path: ellipse(70% 50% at 50% 50%);
}

.section-courses{
    background-color: $color-grey-light-1;
    padding: 25rem 0 10rem 0;
    margin-top: -20rem;
}

.section-testimonials{
    position: relative;
    padding: 5rem 0;
}

.section-enroll{
    padding: 10rem;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

